div {
    .screen-display {
        width: 40rem;
        border: 2px solid black;
        border-radius: 0.5rem;
        padding: 2rem;
    }

    .question{
        color: #232323;
    }

    .answer{
        color: black;
    }
}